body{
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 600;
    font-family: font-family: 'Roboto', sans-serif;
    width: 1200px;
    height: 2256px;
    margin: 0 auto;
    padding: 0;
}

h1, b{
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-weight: bold;
    font-family: font-family: 'Roboto', sans-serif;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 880px;
    margin: 0 auto;
}

.main-header{
    background-color: #eee;
    min-height: 436px;
    margin-bottom: 80px;
}

.logo{
    display: inline-block;
    float: left;
    margin-right: 180px;
    margin-top: 25px;
}

.main-navigation{
    min-width: 400px;
    margin-top: 45px;
    float: left;
    text-transform: uppercase;
}

.shop-basket{
    text-transform: uppercase;
    float: right;
    margin-top: 45px;
    width: 70px;
}

ul{
    margin: 0;
    padding: 0;
}

.main-navigation ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

a{
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #283136;
    font-weight: 600;
    font-family: font-family: 'Roboto', sans-serif;
}

.slider-2, .slider-3{
    display: none;
}

.features{
    width: 880px;
    height: 380px;
    border-bottom: 2px solid #eee;
    margin-top: 50px;
}

.features-item{
    float: left;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 60px;
}

.features-item:last-child{
    margin-right: 0;
}

.features-title{
    text-transform: uppercase;
}

.features p{
    font-size: 15px;
    line-height: 22px;
}

.features-about{
    float: left;
    width: 600px;
    margin-bottom: 60px;
    margin-right: 70px;
}

.list-order{
    float: left;
    width: 440px;
    margin-top: 30px;
}

.list-order-title, .we-work-title{
    text-transform: uppercase;
}

.we-work{
    margin-top: 80px;
}

.we-made{
    width: 880px;
    margin-bottom: 60px;
}

.we-made-Glukhanko{
    float: left;
    margin-right: 120px;
    padding-top: 15px;
}

.we-made-HTML-AC{
    float: left;
    margin-right: 120px;
}

.we-made-Borodinski{
    float: left;
}

.shop-filter{
    width: 240px;
    float: left;
    margin-right: 80px;
}

.shop-item{
    width: 560px;
    float: left;
}

article{
    float: left;
    margin-right: 80px;
}
article:nth-child(odd){
    margin-right: 0px;
}

.main-footer{
    margin-top: 80px;
    height: 215px;
}

.social{
    float: left;
    width: 240px;
}

.offer{
    float: left;
}

.offer p{
    margin-top: 10px;
}