body{
    font-size: 16px;
    line-height: 22px;
    color: #d4d2cf;
    font-weight: 500;
    font-family: font-family: 'Roboto', sans-serif;;
    background-color: #eeeeee;
    
    text-transform: uppercase;
}

