body{
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 600;
    font-family: font-family: 'Roboto', sans-serif;
    width: 1200px;
    height: 2256px;
    margin: 0 auto;
    padding: 0;
}

h1, b{
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-weight: bold;
    font-family: font-family: 'Roboto', sans-serif;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 880px;
    margin: 0 auto;
}

.main-header{
    background-color: #eee;
    margin-bottom: 80px;
}

.slider-2, .slider-3{
    display: none;
}

.features{
    width: 880px;
    height: 380px;
}

.features-item{
    float: left;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 60px;
}

.features-item:last-child{
    margin-right: 0;
}

.features-about{
    float: left;
    width: 600px;
    margin-bottom: 60px;
}

.list-order{
    float: left;
    width: 250px;
    margin-bottom: 60px;
}

.we-made{
    float: left;
    width: 880px;
}
